<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">

      <table class="table table-bordered">
        <thead>
          <tr>
            <th width="20%">Product Image</th>
            <th width="50%">Product Detail</th>
            <th width="30%"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tempCartItem of cartItems">
            <td><img src="{{tempCartItem.imageUrl}}" alt="img-responsive" width="150px"></td>
            <td>
              <p>{{tempCartItem.name}}</p>
              <p>{{tempCartItem.unitPrice | currency:"USD"}}</p>
            </td>
            <td>
              <div class="items">
                <label>Quantity:</label> {{tempCartItem.quantity}}
                <div class="mt-2">Subtotal: {{totalQuantity * totalPrice | currency:"USD"}}</div>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td class="fw-bold">
              <p>Total Quantity: {{totalQuantity}}</p>
              <p>Shipping: FREE</p>
              <p>Total Price: {{totalPrice | currency:"USD"}}</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>